<!DOCTYPE html>
<html lang="zh_Hant">
    <head>
        <meta charset="utf-8">
        <title> Front display </title>
    </head>
    <body>
        <h3>網頁的主畫面</h3>
        <a href="/template"> 去打招呼 </a>
        <!-- <img src="grass.jpg" alt=""/> -->
        <form action="/calculate">
            我想要 1 加到 <input type="text" name="max">
            <button> 計算結果 </button>
        </form>
        <form action="/show">
            姓名：<input type="text" name="name">
            <button> 點擊送出表單 </button>
        </form>
    </body>
</html>